<div class="top-bar">
    <div class="menu">
        <div class="logo">
        </div>
        
            <span><a href="/"><i class="fas fa-home"></i>  HOME</a></span>
            <span><a href="/contact"><i class="fas fa-envelope"></i>  CONTACT</a></span>
            <span><a href="/projects"><i class="fas fa-briefcase"></i>  PROJECTS</a></span>
            <span><a href="/about"><i class="fas fa-info-circle"></i>  ABOUT</a></span>
        
    </div>
    
</div>